.movieCard {
  width: 16rem;
  background-color: black;
  color: black;
  margin-left: 2%;
  border: 1px solid none;
  left: 10%;
  margin-top: 2%;
}

.movieImg {
  width: 97%;
  margin: 62px 0 10px 4px;
  border-bottom: white solid 0.5px;
}

.movieTitle {
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
}

.addMovieBtn {
  cursor: pointer;
  font-size: 50px;
  margin: 75% 0;
}