
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body{
  font-family: 'Raleway', sans-serif;
background-image: linear-gradient(to right, #343737, #3a3d3e, #414344, #48494b, #4f4f51);
}
h3{
  font-family: 'Dancing Script', cursive;
  color: white;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3% 10%;
  
}

.movieApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}
.sidebar {
    background: lightgrey;
    height:100%;
    position: fixed;
    overflow-y: auto;
    
}